<app-header></app-header>

<!-- Page Content -->
<div id="title" class="container" >
  <h1 align="center">GO EAT</h1>
  <hr />
  <H3 align="center">Mobile Food in the Town</H3>
  <hr />
</div>

  
     
        <div class="card" >
          <img
            src="../assets/Images/landing.jpg"
            class="card-img-top"
            alt="..."
          />

          <div class="card-body">
            
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <button class="btn btn-primary" [routerLink]="['  ']">
              Find our truck
            </button>
          </div>
        </div>
    
    
<h2>hiii</h2>


<footer>
  <app-footer></app-footer>
</footer>
